<br>
<div class="container">
  <ul class="list-group">
    <div class="row list-heading">
      <div class="col-md-3">Имя</div>
      <div class="col-md-3">Email</div>
      <div class="col-md-3">Название продукта</div>
      <div class="col-md-3">Дата</div>
    </div>
    <% @orders.each do |order| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3"><%= order.name %></div>
          <div class="col-md-3"><%= order.email %></div>
          <div class="col-md-3"><%= order.product.name %></div>
          <div class="col-md-3"><%= order.created_at %></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
