<h1>Редактирование продукта</h1>

<%= render 'form' %>
<%= link_to 'Удалить', admin_product_path(@product), method: :delete, data: { confirm: 'Вы уверены?' },  class: "btn btn-danger link" %>
<%= link_to 'Назад', admin_product_path(@product),  class: "btn link" %>
